/***** GENERAL **********/
a {
	 text-decoration: none;
	 color:#6AB47B;

}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: lightblue;
}

img{ 
	max-width: 100%
}

/*** HEADING **/
#logo { text-align: center;
margin: 0;
}

header {
	background:#DD6B78;
	border-color:#2B0E1F;
}

h1, h2 {
	color:#FFF;
}

/**NAVIGATION ***/
nav {
	background:#E6AA70;
}

nav a, nav a:visited
{
	color:#FFF;
}

/*** FOOTER ***/
/*cambia el fondo del pie de pagina de la pagina */
footer {
	background:#E6AA70;
}
/*cambia el color del pie de pagina de la pagina */
p {
	color:#32673f;
}
/*cambia el color a las letras del menu */
nav a.selected {
	color: #3D348A;
}
/* le da efecto de sombreado al menu */
nav a:hover 
{
color: #32673f;
}

/*da formato al titulo*/
h1 { font-family: 'Lora', sans-serif;
margin: 15px o;
font-size: 1.75em;
font-weight: normal;
line-height: 1.3em;
}
/*da formato al subtitulo*/
h2 { 
font-size: 0.75em;
margin: -5px o;
font-weight: normal;
}

/* CSS */

#galeria {margin: 0;
padding: 0;
list-style: none;
}

#galeria li { float: left;
width: 45%;
margin: 2.5;
background-color: #f5f5f5;
color: #974049;
}
#galeria li a p {margin: 0;
padding: 5%;
font-size: 0.75em;
color: #974049;
}
footer { 
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}
header{ float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}
nav ul{ list-style: none;
	margin: 0 10px;
	padding: 0;
}

/*muestra los vinculos de navegacion de forma horizonal, el menu */
nav li {display: inline-block;
}
/*da formato a los vinculos de navegacion, el menu */
nav a {
font-weight: 800;
padding: 15px 10px;
}
.social-icon {
	width: 30px;
height: 30px;
margin: 0 5px;
}
/*para la pagina about*/
.profile-photo { display: block;
	max-width: 450px;
	margin: 0 auto 30px;
	border-radius: 100%;
}
/*para darle los iconos a la seccion contactos */
.contact-info li.phone a{
	background-image: url('../img/fono.jpg');
}
.contact-info li.mail a{
	background-image: url('../img/email.jpg');
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.jpg');
}
/*para centrar las imagenes de comunicacion en contacto*/
.contact-info a{ display block;
min-height: 20px;
background-repeat: no-repeat;
background-size: 20px 20px;
padding: 0 0 0 30px;
margin: 0 0 10px;
}